services:
    _defaults:
        autoconfigure: true
        autowire: true
        public: false

    Ibexa\GraphQL\Resolver\LocationResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "Location", method: "resolveLocation" }
            - { name: overblog_graphql.resolver, alias: "LocationById", method: "resolveLocationById" }
            - { name: overblog_graphql.resolver, alias: "LocationChildren", method: "resolveLocationChildren" }
            - { name: overblog_graphql.resolver, alias: "LocationsByContentId", method: "resolveLocationsByContentId" }
        arguments:
            $locationService: '@ibexa.siteaccessaware.service.location'
            $contentService: '@ibexa.siteaccessaware.service.content'

    Ibexa\GraphQL\Resolver\ContentResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "Content", method: "resolveContent" }
            - { name: overblog_graphql.resolver, alias: "ContentById", method: "resolveContentById" }
            - { name: overblog_graphql.resolver, alias: "ContentByIdList", method: "resolveContentByIdList" }
            - { name: overblog_graphql.resolver, alias: "ContentVersions", method: "resolveContentVersions" }
            - { name: overblog_graphql.resolver, alias: "ContentByType", method: "findContentByType" }
            - { name: overblog_graphql.resolver, alias: "ContentRelations", method: "findContentRelations" }
            - { name: overblog_graphql.resolver, alias: "ContentReverseRelations", method: "findContentReverseRelations" }
            - { name: overblog_graphql.resolver, alias: "CurrentVersion", method: "resolveCurrentVersion" }
        arguments:
            $contentService: '@ibexa.siteaccessaware.service.content'
            $searchService: '@ibexa.siteaccessaware.service.search'
            $contentTypeService: '@ibexa.siteaccessaware.service.content_type'

    Ibexa\GraphQL\Resolver\DomainContentResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "DomainContentItemsByTypeIdentifier", method: "resolveDomainContentItems" }
            - { name: overblog_graphql.resolver, alias: "DomainFieldValue", method: "resolveDomainFieldValue" }
            - { name: overblog_graphql.resolver, alias: "DomainContentType", method: "resolveDomainContentType" }
            - { name: overblog_graphql.resolver, alias: "DomainContentItem", method: "resolveDomainContentItem" }
            - { name: overblog_graphql.resolver, alias: "DomainRelationFieldValue", method: "resolveDomainRelationFieldValue" }
            - { name: overblog_graphql.resolver, alias: "MainUrlAlias", method: "resolveMainUrlAlias" }
        arguments:
            $repository: '@ibexa.siteaccessaware.repository'

    Ibexa\GraphQL\Resolver\ItemResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "Item", method: "resolveItem" }
            - { name: overblog_graphql.resolver, alias: "ItemOfType", method: "resolveItemOfType" }
            - { name: overblog_graphql.resolver, alias: "ItemFieldValue", method: "resolveItemFieldValue" }
            - { name: overblog_graphql.resolver, alias: "ItemType", method: "resolveItemType" }
            - { name: overblog_graphql.resolver, alias: "ItemsOfTypeAsConnection", method: "resolveItemsOfTypeAsConnection" }

    Ibexa\GraphQL\Resolver\RelationFieldResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "RelationFieldValue", method: "resolveRelationFieldValue" }

    Ibexa\GraphQL\Resolver\ContentThumbnailResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "ContentThumbnail", method: "resolveContentThumbnail" }
        arguments:
            $thumbnailStrategy: '@Ibexa\Core\Repository\Strategy\ContentThumbnail\ThumbnailChainStrategy'

    Ibexa\GraphQL\Resolver\ThumbnailResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "Thumbnail", method: "resolveThumbnail" }

    Ibexa\GraphQL\Mutation\UploadFiles:
        arguments:
            $repository: '@ibexa.siteaccessaware.repository'
        tags:
            - { name: overblog_graphql.mutation, alias: "UploadFiles", method: "uploadFiles" }

    Ibexa\GraphQL\Resolver\UserResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "User", method: "resolveUser" }
            - { name: overblog_graphql.resolver, alias: "UserGroups", method: "resolveUserGroups" }
            - { name: overblog_graphql.resolver, alias: "UserById", method: "resolveUserById" }
            - { name: overblog_graphql.resolver, alias: "UserGroupsByUserId", method: "resolveUserGroupsByUserId" }
            - { name: overblog_graphql.resolver, alias: "UserGroupById", method: "resolveUserGroupById" }
            - { name: overblog_graphql.resolver, alias: "UserGroupSubGroups", method: "resolveUserGroupSubGroups" }
            - { name: overblog_graphql.resolver, alias: "UsersOfGroup", method: "resolveUsersOfGroup" }

    Ibexa\GraphQL\Resolver\ContentTypeResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "ContentTypeById", method: "resolveContentTypeById" }
            - { name: overblog_graphql.resolver, alias: "ContentType", method: "resolveContentType" }
            - { name: overblog_graphql.resolver, alias: "ContentTypesFromGroup", method: "resolveContentTypesFromGroup" }
            - { name: overblog_graphql.resolver, alias: "ContentTypeGroupByIdentifier", method: "resolveContentTypeGroupByIdentifier" }
        arguments:
            $contentTypeService: '@ibexa.siteaccessaware.service.content_type'

    Ibexa\GraphQL\Resolver\FieldDefinitionResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "FieldDefinitionName", method: "resolveFieldDefinitionName" }
            - { name: overblog_graphql.resolver, alias: "FieldDefinitionDescription", method: "resolveFieldDefinitionDescription" }
            - { name: overblog_graphql.resolver, alias: "SelectionFieldDefinitionOptions", method: "resolveSelectionFieldDefinitionOptions" }

    Ibexa\GraphQL\Resolver\SectionResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "SectionById", method: "resolveSectionById" }
        arguments:
            $sectionService: '@ibexa.siteaccessaware.service.section'

    Ibexa\GraphQL\Resolver\UrlAliasResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "UrlAliasType", method: "resolveUrlAliasType" }
            - { name: overblog_graphql.resolver, alias: "LocationUrlAliases", method: "resolveLocationUrlAliases" }
            - { name: overblog_graphql.resolver, alias: "LocationUrlAlias", method: "resolveLocationUrlAlias" }
            - { name: overblog_graphql.resolver, alias: "ItemUrlAlias", method: "resolveItemUrlAlias" }
        arguments:
            $urlAliasService: '@ibexa.siteaccessaware.service.url_alias'
            $urlGenerator: '@Ibexa\Core\MVC\Symfony\Routing\Generator\UrlAliasGenerator'
            $siteAccessService: '@Ibexa\Core\MVC\Symfony\SiteAccess\SiteAccessService'

    Ibexa\GraphQL\Resolver\SearchResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "SearchContent", method: "searchContent" }
            - { name: overblog_graphql.resolver, alias: "SearchContentOfTypeAsConnection", method: "searchContentOfTypeAsConnection" }
            - { name: overblog_graphql.resolver, alias: "SearchLocationsOfTypeAsConnection", method: "searchLocationsOfTypeAsConnection" }
        arguments:
            $searchService: '@ibexa.siteaccessaware.service.search'

    Ibexa\GraphQL\Resolver\RichTextResolver:
        arguments:
            - '@ibexa.richtext.converter.output.xhtml5'
            - '@Ibexa\FieldTypeRichText\RichText\Converter\Html5Edit'
        tags:
            - { name: overblog_graphql.resolver, alias: "RichTextXmlToHtml5", method: "xmlToHtml5" }
            - { name: overblog_graphql.resolver, alias: "RichTextXmlToHtml5Edit", method: "xmlToHtml5Edit" }
            - { name: overblog_graphql.resolver, alias: "RichTextXmlToPlainText", method: "xmlToplainText" }

    Ibexa\GraphQL\Resolver\ImageFieldResolver:
        arguments:
            $imageFieldType: '@Ibexa\Core\FieldType\Image\Type'
            $variationHandler: '@ibexa.field_type.ezimage.variation_service'
            $contentService: '@ibexa.siteaccessaware.service.content'
        tags:
            - { name: overblog_graphql.resolver, alias: "ImageVariations", method: "resolveImageVariations" }
            - { name: overblog_graphql.resolver, alias: "ImageVariation", method: "resolveImageVariation" }

    Ibexa\GraphQL\Resolver\DateResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "DateTimeFormat", method: "resolveDateToFormat"}

    Ibexa\GraphQL\Resolver\ImageAssetFieldResolver:
        arguments:
            $strategies: !tagged_iterator ibexa.field_type.image_asset.mapper.strategy
        tags:
            - { name: overblog_graphql.resolver, alias: "DomainImageAssetFieldValue", method: "resolveDomainImageAssetFieldValue"}

    Ibexa\GraphQL\Resolver\SelectionFieldResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "SelectionFieldValue", method: "resolveSelectionFieldValue"}

    Ibexa\GraphQL\Relay\NodeResolver:
        tags:
            - { name: overblog_graphql.resolver, alias: "node", method: "resolveNode" }
            - { name: overblog_graphql.resolver, alias: "node_type", method: "resolveType" }

    Ibexa\GraphQL\Relay\SearchResolver:
        tags:
            - {name: overblog_graphql.resolver, alias: "SearchContentConnection", method: "searchContent"}

    #
    # Object States
    #

    Ibexa\GraphQL\Resolver\ObjectStateGroupResolver:
        arguments:
            $objectStateService: '@ibexa.siteaccessaware.service.object_state'
        tags:
            - {name: overblog_graphql.resolver, alias: "ObjectStateGroupById", method: "resolveObjectStateGroupById"}
            - {name: overblog_graphql.resolver, alias: "ObjectStateGroups", method: "resolveObjectStateGroups"}

    Ibexa\GraphQL\Resolver\ObjectStateResolver:
        arguments:
            $objectStateService: '@ibexa.siteaccessaware.service.object_state'
        tags:
            - {name: overblog_graphql.resolver, alias: "ObjectStateById", method: "resolveObjectStateById"}
            - {name: overblog_graphql.resolver, alias: "ObjectStateByContentInfo", method: "resolveObjectStateByContentInfo"}
            - {name: overblog_graphql.resolver, alias: "ObjectStatesByGroup", method: "resolveObjectStatesByGroup"}
            - {name: overblog_graphql.resolver, alias: "ObjectStatesByGroupId", method: "resolveObjectStatesByGroupId"}

    #
    # Content mutations
    #
    Ibexa\GraphQL\Resolver\DomainContentMutationResolver:
        tags:
            - { name: overblog_graphql.mutation, alias: "CreateDomainContent", method: "createDomainContent" }
            - { name: overblog_graphql.mutation, alias: "DeleteDomainContent", method: "deleteDomainContent" }
            - { name: overblog_graphql.mutation, alias: "UpdateDomainContent", method: "updateDomainContent" }

    Ibexa\GraphQL\Resolver\Map\UploadMap: ~
